body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.mapboxgl-popup-content h3 {
background: #91c949;
color: #fff;
margin: 0;
padding: 10px;
border-radius: 3px 3px 0 0;
font-weight: 700;
margin-top: 10px;
}

.mapboxgl-popup-content h4 {
margin: 0;
padding: 10px;
font-weight: 400;
}

#buttons {
width: 90%;
margin: 0 auto;
margin-left:200px;
}
.button {
display: inline-block;
position: relative;
cursor: pointer;
width: 10%;
padding: 8px;
border-radius: 3px;
margin-top: 10px;
font-size: 12px;
text-align: center;
color: #fff;
background: #ee8a65;
font-family: sans-serif;
font-weight: bold;
}


